/* .contact-form__content{ */

/* contact */
.contact-form__header{  
    color: #8B7969;
    text-decoration: none;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}
.form{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.form__group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}
.form__group-title{
    color: #8B7969;
}
/* .form__label--item */

.form__label--required{
    color: coral;
}
.form__group-content{
    display: flex;
    color:#8B7969;
    
}

.textbox,textarea,option{
    color: #8B7969;
    background:#e0dfde5d;
    border: none;
    padding:10px;
    width: 100%;
    
}
.form__input-category{
    color: #8B7969;
}

