.contact-form__content{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}


.contact-form__header{  
    color: #8B7969;
    text-decoration: none;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}
.form{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.form__group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}
.form__group-title{
    color: #8B7969;
}
/* .form__label--item */

.form__label--required{
    color: coral;
}
.form__group-content{
    display: flex;
    color:#8B7969;
    
}

.textbox,textarea,option{
    color: #8B7969;
    background:#e0dfde5d;
    border: none;
    padding:10px;
    width: 100%;
    text-align: left;
    
}
.form__input-category{
    color: #8B7969;
}

.form__error{
    color: coral;
    font-size: 10px;
}

.form__button-submit{
    background-color: #82756a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}